.footer {
	max-width: 1120px;
	width: 90%;
	display: flex;
	justify-content: space-between;
	padding: 5%;
	align-items: baseline;
	margin: 0 auto;
    @media screen and (max-device-width: 768px) {
		flex-direction: column;
	}
	& .contact {
		width: 42%;
		@media screen and (max-device-width: 768px) {
			width: 100%;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: flex-start;
			margin-bottom: 30px;
		}
		& .title {
			margin-bottom: 40px;
		}
	}
	& .right {
		display: flex;
		width: 58%;
		justify-content: space-between;
		@media screen and (max-device-width: 768px) {
			width: 100%;
		}
		& > div > .title {
			margin-bottom: 40px;
		}
	}
	& .contact .title {
		font-size: 34px;
		font-weight: 700;
	}
	& .headquarters .title {
		font-size: 20px;
		font-weight: 700;
	}
	& .social {
		& .title {
			font-size: 20px;
			font-weight: 700;
		}
		& img {
			margin-right: 10px;
		}
	}
}