.slider {
    background-color: #FFBD9E;
    max-width: 1120px;
	width: 100%;
    margin: 0 auto;
    // height: 600px;
    position: relative;
    // &   .slick-prev, .slick-next {
    //     position: absolute;
    //     top: 50%;
    //     color: red !important;
    //   }
    // & .slick-prev1 {
    //     width: 50px;
    //     height: 50px;
    //     color: red;
    //     left: 100px;
    // }
    & .sliderItem {
        // border: 1px solid red;
        height: 400px;
        // width: 600px;

        // max-width: 400px;
        // width: 100%;
        // margin: 0 50px;
        // height: 100%;
        
        // display: flex;
        // justify-content: center;
        & > div {
        // border: 1px solid blue;
        margin:0 50px;
        padding: 0 50px;
        // width: 600px;
        width: 100%;
            height: 100%;
            display: flex;
            // flex-wrap: nowrap;
            justify-content: center;
            align-items: center;
            & > img {
                // max-width: 300px;
                // width: 100%;
                @media screen and (max-device-width: 500px) {
                    width: 90%;
                    // padding: 0 30px;
                }
            }
        }
    }
    & .buttons {
        margin-bottom: 70px;
        // text-align: center;
        // vertical-align: middle;
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: 900;
        font-size: 24px;
        & > .button {
            margin:0 20px;
            height: 15px;

        }
        & > span {
            margin: 0 5px;
        }
    }
}

