.slider {
    background-color: #FFBD9E;
    max-width: 1120px;
	width: 100%;
    margin: 0 auto;
    position: relative;
    & .sliderItem {
        // padding-top: 100px;
        // border: 1px solid red;
        height: 400px;
        // padding: 0 50px;
        & > div {
            // border: 1px solid blue;
            // margin:0 100px;
            // padding: 0 50px;
            // width: 100%;
            // min-width: 350px;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            & > img {
                max-width: 300px;
                // width: 100%;
                @media screen and (min-device-width: 768px) and (max-device-width: 1024px) {
                    width: 80%;
                    // padding: 0 30px;
                }
                @media screen and (max-device-width: 767px) {
                    width: 80%;
                }
            }
        }
    }
    & .buttons {
        margin-bottom: 70px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: 900;
        font-size: 24px;
        & > .button {
            margin:0 20px;
            height: 15px;
        }
        & > span {
            margin: 0 5px;
        }
    }
}

